.navbar {
   background-color: blueviolet;
   height: 60px;
   width: 100%;
   box-sizing: border-box;
}

.bar-icon {
   font-size: 2.4rem;
   float: right;
   color: white;
   margin-right: 20px;
   margin-top: 10px;
   cursor: pointer;
}

.nav {
   text-align: center;
}

.nav a{
   font-size: 1.5rem;
   font-weight: 700;
   display: none;
   margin-top: 30px;
   color: white;
   text-decoration: none;
}

.nav a.open{
   font-size: 1.5rem;
   font-weight: 700;
   display: block;
   margin-top: 30px;
   color: white;
   text-decoration: none;
}

.sidebarClose {
   width: 0px;
   height: 850px;
   background-color:rgb(32, 143, 187);
   position: fixed;
   transition: 0.5s;
}

.sidebar {
   width: 300px;
   height: 850px;
   background-color:rgb(32, 143, 187);
   position: fixed;
   transition: 0.5s;
}